.label-on-left::part(form-control) {
    display: flex;
    align-items: center;
}

.label-on-left::part(form-control-label) {
    flex: 0 0 auto;
    min-width: 80px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left;
}

.label-on-left::part(form-control-input) {
    flex: 1 1 auto;
    margin-top: 1rem;

}

.form-radio-register::part(base) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
}


.conditions {
    margin-top: 2rem;

}

sl-radio-group.form-radio-register {
    padding: 0;
    margin: 0;
}

.form-radio-label-register {

    font-weight: bold;

}

.label-on-left::part(base) {
    box-shadow: 2px 3px 3px #656565;
}

.form-register {
    font-family: 'Robotto', sans-serif;
}


.submit-btn-register::part(base) {
    flex-wrap: wrap;
    margin-top: 3rem;
    border-radius: 5px;
    color: white;
    background-color: #ED1B29;
}



.submit-btn-simulator-register {
    cursor: pointer;
    flex-wrap: wrap;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    background-color: #ED1B29;
}